<%= form_with(model: post) do |form| %>
  <div class="modal-header">
    <h5 class="modal-title" id="postModalLabel"><%= @post.new_record? ? 'New' : 'Edit' %> post</h5>    
  </div>
  <div class="modal-body">
    <div id="form-errors">
      <%= render partial: 'posts/failure', locals: { post: @post }%>
    </div>

    <div>
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control form-control-lg', required: true %>
    </div>

    <div class="field">
      <%= form.label :body, class: 'form-label' %>
      <%= form.text_area :body, class: 'form-control form-control-lg', required: true %>
    </div>
  </div>
  <div class="modal-footer">
    <%= link_to 'Back', @post, class: 'btn btn-secondary' %>
    <%= form.submit class: 'btn btn-primary', id: 'post-submit' %>
  </div>
<% end %>