<div id="post_<%= post.id %>" class="d-flex position-relative border-bottom border-5 pb-3 mb-3">  
  <div>
    <h5 class="fw-bolder mb-1 text-truncate"><%= post.title %></h5>
    <small class="text-muted fst-italic mb-2">Posted on <%= post.created_at.strftime('%A, %d %b %Y %l:%M %p') %> by <%= post.author.name %></small>      
    <%= pluralize(post.comments.size, 'Comment') %>
    <a href="<%= post_path(post) %>">Read more</a>
  </div>
</div>